VITE_APP_TIANDITU_TOKEN=
VITE_APP_ARCGIS_WMS_URL=/arcgis/services/corn/MapServer/WmsServer
VITE_APP_LEGACY_API_ORIGIN=
VITE_APP_SHINE_UPLOAD_URL=/api/ShineUpload

VITE_DEV_API_TARGET=http://127.0.0.1:8001
VITE_DEV_LEGACY_API_TARGET=http://127.0.0.1:8999
VITE_DEV_ARCGIS_TARGET=http://127.0.0.1:6080
