DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=cornpy
DB_ECHO=True

MAIZE_ESTIMATE_HOST=127.0.0.1
MAIZE_ESTIMATE_PORT=8006

SCYM_HOST=127.0.0.1
SCYM_PORT=5000

GNAH_HOST=127.0.0.1
GNAH_PORT=5000
